<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.iut.csid.projet.gestibank"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
	
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />																																																																																																													
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.iut.csid.projet.gestibank.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.activity.setting.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
>
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.activity.transaction.TransactionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
>
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.activity.transaction.AddTransactionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
>
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.activity.prevision.PrevisionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
>
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.activity.prevision.AddPrevisionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
>
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.activity.budget.BudgetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.activity.budget.AddBudgetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
 >
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name="fr.iut.csid.projet.gestibank.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="fr.iut.csid.projet.gestibank.ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.iut.csid.projet.gestibank.ItemListActivity" />
        </activity>
    </application>

</manifest>
